.container {
    text-align: center;
    padding-top: 4rem;
}

.login {
    letter-spacing: 1px;
    width: 400px;
    /* Ancho del div */
    height: 400px;
    /* Altura del div */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11%;
    border: 1px solid;

}

.caja {
    margin: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor {
    border-radius: 80px;
}



.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333; /* Color de fondo del footer */
    color: #fff; /* Color del texto del footer */
    text-align: center; /* Alineación del texto al centro */
}


.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
  }

  .boton{
    justify-content: center;
    display: flex;
  }